
/* @media screen and (min-width: 992px) {
    .imglight {
        left: 20%;
    }
  } */
/*-------------------------------------------------------Width button*/
body{
    height:100vh;
    /* overflow: scroll; */
}
.navbar {
    z-index:3;
}
#button{
    width: 80px;
    height: 60px;
}
/*-------------------------------------------------------Width button*/

/*-------------------------------------------------------buttonhole*/
#buttonhole{
    width: 75px;
    height: 75px;
    border-radius:50%;
}
/*-------------------------------------------------------buttonhole*/

.h1 {
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
  font-color: #2F4F4F;
}

.btntop{
  margin-top: 5px;
  color:  #3c7646;
  background-color: #d7ecce;
}

.typeveg{
  color: #3c7646;
  text-align: center;
  background-color:#d7ecce ;

}

#div1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.control {
    border-radius: 25px!important;
    z-index: 3;
}
.imglight {
    position: absolute;
    left: 12%;
    max-width: 85%;
}
.imgplan {
    max-width: 90%;
    /* max-width: 544px; */
    max-height: 308px;
    width: auto;
    height: auto;
    margin-top: 100px;
}
.custom-switch .custom-control-label::before {
    width: 2.25rem;
}
.custom-control-label::before {
    height: 1.25rem;
    background-color: #e3e3e3;
    border: none;
}
.custom-switch .custom-control-label::after {
    background-color: #ffffff;
    width: calc(1.25rem - 4px);
    height: calc(1.25rem - 4px);
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
}
@media screen and (min-width: 767px) {
    .imglight {
        left: 10%;
    }
}
@media screen and (min-width: 992px) {
    .imglight {
        left: 20%;
    }
  }

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@keyframes move_fog {
    0% {
        transform: translateX(-100%) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(0%) translateZ(0) scaleY(1)
    }
    100% {
        transform: translateX(100%) translateZ(0) scaleY(1)
    }
}
.fogWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.fogWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    /*background-image: linear-gradient(to top, #000000 20%, #27273c 80%); */
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    /*background-image: linear-gradient(to top, #000000 20%, #27273c 80%); */
}
.bgTop {
    z-index: 2;
    opacity: 0.7;
}
.bgMiddle {
    z-index: -15;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.fog {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 100% 100%;
}
.waveAnimation .waveTop {
  /* animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s; */
   animation: move_fog 20s linear infinite;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}